<%- include('partials/header'); -%>

<header>
  <div class="home_page">
    <img src="/Akatsuki-Logo.png" alt="">
  </div>
  <div class="headings">
    <h2>Akastsuki members</h2>
    <h3>TOP SECRET S CLASS INFORMATION</h3>
    <a href="/targets" class="btn">View Targets</a>
  </div>
</header>


<%- include('partials/footer'); -%>